@import "./../../scss/variables";

@keyframes rotatespinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  background: #c4167e;
  background: -webkit-linear-gradient(to right, #c4167e, #493240);
  background: linear-gradient(to right, #c4167e, #493240);

  font-size: 1.2em;
}

.loader__heading-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.loader__spinner {
  margin: 0 10px;
  width: 20px;
  height: 20px;
  border: 5px solid rgba(#fff, 0.3);
  border-left-color: white;
  border-radius: 50%;
  background: transparent;
  animation-name: rotatespinner;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
  position: relative;
}